:root{
    --primary-color:rgba(255, 255, 255, 0.749);
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100%;
    background-color: var(--primary-color);
    font-family: "Montserrat", sans-serif;
}
main .parent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.register{
    background-color: #0B6434;
    width: 25vmax;
    height: 30vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border-radius: 5px;
    border: 1.5px solid;
}

.register .heading{
    width: 100%;
    height: 10%;
    position: absolute;
    top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.heading h1{
    font-size: 2vmax;
    font-family: "Rowdies", sans-serif;
    color: #fff;
    text-shadow: 1px 1px 2px black;
}
main input{
    width: 80%;
    height: 6%;
    position: relative;
    left: 10%;
    border-radius: 3px;
    border: 0.5px solid #1acd81;
}
main input:focus{
    outline: 1px solid #1acd81;
}
main label{
    position: relative;
    left: 10%;
    font-size: 1.2vmax;
    color: #fff;
    text-shadow: 1px 1px 2px black;
}
.register .btn{
    width: 40%;
    position: relative;
    top: 2%;
    left: 30%;
    height: 7%;
    background-color: #fff;
    border: none;
    font-size: 1.2vmax;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #111;
    transition: .5s ease;
}
.register .btn:hover{
    box-shadow: 2px 2px 5px #fff, -2px -2px 5px #fff;
    transition: .5s ease;
}
main .log-page{
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0%;
    left: 0;
    border: none;
    background-color: #fff;
    font-size: 2vmax;
    font-weight: 500;
    text-shadow: 0.5px 0.5px 1px #0B6434;
    cursor: pointer;
}
main .log-page:hover{
    font-size: 2.02vmax;
    font-weight: 550;
}
.login{
    border: 1.5px solid;
    background-color: #0B6434;
    width: 25vmax;
    height: 30vmax;
    display: none;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border-radius: 5px;
}
.login .heading{
    width: 100%;
    height: 10%;
    position: absolute;
    top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.login .btn{
    width: 40%;
    position: relative;
    left: 30%;
    height: 7%;
    top: 4%;
    background-color: #fff;
    border: none;
    font-size: 1.2vmax;
    cursor: pointer;
    border: 1px solid #111;
    border-radius: 3px;
    box-shadow: 0.2px 0.2px 3px #111;
    transition: .5s ease;
}
.login .btn:hover{
    box-shadow: 2px 2px 5px #fff, -2px -2px 5px #fff;
    transition: .5s ease;
}
main .reg-page{
    position: absolute;
    width: 100%;
    height: 13%;
    bottom: 0%;
    left: 0;
    border: none;
    background-color: #fff;
    font-size: 2vmax;
    font-weight: 500;
    text-shadow: 0.5px 0.5px 1px #0B6434;
    cursor: pointer;
}
main .reg-page:hover{
    font-size: 2.02vmax;
    font-weight: 550;
}

@media (max-width:1500px) {
    .register{
        width: 40vmax;
        height: 60vmax;
    }
    .register .heading{
        width: 100%;
        height: 10%;
        /* background-color: #111; */
        top: 2%;
    }
    .heading h1{
        font-size: 3.5vmax;
    }
    main label{
        position: relative;
        font-size: 2vmax;
        left: 10%;
    }
    .register .btn{
        top: 0%;
        font-size: 2.2vmax;
    }
    main .log-page{
        font-size: 3.5vmax;
    }
    main .log-page:hover{
        font-size: 3.6vmax;
    }
    .login{
        width: 40vmax;
        height: 60vmax;
    }
    .login .heading{
        width: 100%;
        height: 10%;
        /* background-color: #111; */
        top: 5%;
    }
    .heading h1{
        font-size: 3.5vmax;
    }
    .login .btn{
        top: 1%;
        font-size: 2.2vmax;
    }
    main .reg-page{
        font-size: 3.5vmax;
    }
    main .reg-page:hover{
        font-size: 3.6vmax;
    }
    
    
}